@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $background;
  color: $text;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
