.categoryPreview--link {
  margin-bottom: 25px;
  display: block;
}

.categoryPreview--title {
  font-weight: 300;
  display: inline;
}

.categoryPreview--icon {
  font-size: 300;
  color: $primary;
  margin-left: 15px;
}
