.seasons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.seasons--episodes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: start;
}
