.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
  box-sizing: border-box;
}

.video--container {
  width: 50%;
  padding: 10px;

  @media (max-width: 1400px) {
    width: 100%;
  }
}

.video--youtube {
  width: 100%;
}
